<!DOCTYPE html>
<html>
<head>
  <title>BogApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 id="mainTitle"> Bog Creatures </h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12" id="mainCreatures">
				<%= yield %>				
			</div>
		</div>
	</div>
</body>
</html>
